.headerimage{
    background-image: url("../img/h1-sl3.jpg");
}

.d-flex button{
    margin: 1.5em .6em;
    padding: 0.6em 2.4em;
}
.container table{
    margin: 1em 10em;
}
table .btnedit{
    color: darkgoldenrod;
    cursor: pointer;
}

table .btnedelte{
    color: lightcoral;
    cursor: pointer;
}